.tutorial {
    border: 1px solid gray;
    padding: 0 1rem;
}

.btn {
    border: 1px solid gray;
    width: 6em;
    height: 3em;
    cursor: pointer;
}

.input {
    border: 1px solid gray;
    width: 12em;
    height: 3em;

    &:focus {
        border: 1px solid blue;
        outline: none;
    }
}